<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy />
	<bean id="traceAspect" class="yeling.spring.common.UpdateMemberInfoTraceAspect" />
	<bean id="cacheAspect" class="yeling.spring.common.ArticleCacheAspect" />
	<bean id="loggingAspect" class="yeling.spring.common.LoggingAspect" />
	<bean id="readArticleService" class="yeling.spring.board.service.ReadArticleServiceImpl" />
	<bean id="memberService" class="yeling.spring.member.service.MemberServiceImpl" />

</beans>
